<!DOCTYPE html>
<html ng-app>
    <head>
        <title>iClicker</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <link rel="shortcut icon" href="[[=URL('static', 'images/favicon.ico')]]" type="image/x-icon">
        <link rel="apple-touch-icon" href="[[=URL('static', 'images/favicon.ico')]]">

        <!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
        <!-- Optional theme -->
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
        <!-- Off-canvas -->
        <link rel="stylesheet" href="[[=URL('static', 'css/offcanvas.css')]]">
        <!-- Custom styles -->
        <link rel="stylesheet" href="[[=URL('static', 'css/styles.css')]]">
    </head>
    <body>

        <!-- TOP BAR NAV ================================================== -->
        <div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="offcanvas">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Office Click</a>
                    <p class="navbar-text pull-right" href="#">${{count}}</p>
                </div>
            </div><!-- /.container -->
        </div><!-- /.navbar -->

        <div class="container">
            <div class="row row-offcanvas row-offcanvas-left">

                <!-- SIDE BAR MENU ================================================== -->
                <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
                    <div class="list-group">
                        <a href="#" class="list-group-item active">Item 1 <span class="badge">{{count}}</span></a>
                        <a href="#" class="list-group-item">Item 2</a>
                        <a href="#" class="list-group-item">item 3</a>
                        <a href="#" class="list-group-item">Item 4</a>
                        <a href="#" class="list-group-item">Item 5</a>
                        <a href="#" class="list-group-item">Item 6</a>
                        <a href="#" class="list-group-item">Item 7</a>
                        <a href="#" class="list-group-item">Item 8</a>
                        <a href="#" class="list-group-item">Item 9</a>
                    </div><!-- /.list-group -->
                </div><!-- /.sidebar -->

                <!-- MAIN CENTER ================================================== -->
                <div class="col-xs-12 col-sm-9">
                    <!-- Alerts ================================================== -->
                    <!-- TODO: Add ng-animate module for .animate-if -->
                    <div ng-if="count >= 100"  class="alert alert-success alert-dismissable animate-if">
                        <strong>Woohoo!</strong> Your first $100!
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                    </div>
                    <!-- Progress bars ================================================== -->
                    <div class="progress progress-striped active">
                        <div class="progress-bar" role="progressbar" aria-valuenow="{{count}}" aria-valuemin="0" aria-valuemax="100" style="width: {{count}}%;">
                        {{count}}%
                        </div>
                    </div>
                    <!-- Clicker ================================================== -->
                    <img id="clicker" src="[[=URL('static', 'images/staples-easy-button.png')]]" ng-click="count = count + 1" ng-init="count = 0"/>
                </div><!-- /.main -->

            </div><!--/row-->
        <div>

        <!-- JQuery ================================================== -->
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

        <!-- Bootstrap Latest compiled and minified JavaScript ================================================== -->
        <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

        <!-- Bootstrap off-canvas ================================================== -->
        <script src="[[=URL('static', 'js/offcanvas.js')]]"></script>

        <!-- AngularJS ================================================== -->
        <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.12/angular.min.js"></script>

    </body>
</html>