
/* GENERAL
-------------------------------------------------- */

.hidden {
    display: none;
}

/* TOP NAVBAR
-------------------------------------------------- */

.navbar-header {
    float: left;
    text-align: center;
    width: 100%;
}

.navbar-toggle {
    float: left;
    margin-left: 6px;
    text-align: center;
}

.navbar-brand {
}

.counter {

}

/* MAIN
-------------------------------------------------- */

#clicker {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}

.clicker-floater {
    -webkit-animation: float 3s
}

@-webkit-keyframes float {
    0% {
        -webkit-transform: translateX(0%) translateY(0%);
    }
    100% {
        -webkit-transform: translateX(0%) translateY(-20%);
    }
}